<div class="genie-box col-xs-6 col-xs-offset-3 text-center"> 

<%= simple_form_for @post do |f| %>
	<%= f.input :title, label: 'What is this image about?'%>
	<%= f.input :description, label: 'Tell me more!', placeholder: 'drunken monkey, racing rhino' %>
	<%= f.input :image %>
	<br/> 

	<%= f.button :submit, :class => 'btn btn-warning' %>


<% end %>




<br/>


</div>
